<footer class="footer">
  <div class="container footer-container">
    <div class="footer-nav-container">
      <ul class="footer-nav-list">
        <li class="footer-nav-list-item">
          <a class="footer-nav-list-link" href="#about-us">About us</a>
        </li>
        <li class="footer-nav-list-item">
          <a
            class="footer-nav-list-link collection-footer"
            href="#our-collection"
            >Our collection</a
          >
        </li>
        <li class="footer-nav-list-item">
          <a class="footer-nav-list-link" href="#customer-order"
            >Customer order</a
          >
        </li>
        <li class="footer-nav-list-item">
          <a class="footer-nav-list-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </div>
    <h2 class="footer-company-slogan">
      A touch of <span class="footer-slogan-span">Ukrainian</span> culture in
      every embroidery
    </h2>
  </div>
  <div class="container footer-icon"></div>
</footer>
