<section>hero</section>
<section class="hero">
  <div class="container hero-sun">
    <div class="hero-block">
      <div class="hero-block-title-and-button">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="hero-title-span">Ukrainian</span> artistry in every
          stitch.
        </h1>
        <a class="hero-link" href="#order">
          Order
          <svg
            class="hero-link-icon"
            width="26"
            height="10"
            aria-label="icon-arrow"
          >
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>
      <div class="hero-block-image">
        <picture>
          <source
          srcset="
          ./img/hero/desk-hero-img.jpg
          ./img/hero/desk-hero-img@2x.jpg
          "
          media="(min-width: 1280px)"
          />
          <source
          srcset="./img/hero/tab-hero-img.jpg
 ./img/hero/tab-hero-img@2x.jpg"
 media="(min-width: 768px)"
 />
 <source
          srcset=" ./img/hero/mob-hero-img.jpg
          ./img/hero/mob-hero-img@2x.jpg"
          media=" (max-width: 767px) "
          />
          <img
          src="./img/hero/desk-hero-img.jpg"
          width="100%"
          height="100%"
          alt="Girl"
/>
        </picture>
      </div>
    </div>
    
    <div class="hero-group">
      <svg class="hero-group-icon" width="52" height="51" aria-label="icon-star">
        <use href="./img/icons.svg#icon-star"></use>
      </svg>
      <p class="hero-group-text">all embroidery is made by hand</p>
    </div>
  </div>
</section>