<div class="backdrop-menu is-open js-menu-container" id="mobile-menu">
  <div class="mobile-menu-modal">
    <address>
      <a class="mobile-menu-phone-link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
    </address>
    <button class="mobile-menu-btn-close js-close-menu">
      <svg class="mobile-menu-icon-close">
        <use href="/img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item">
        <a href="#about-us" class="mobile-menu-link">About us</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#our-collection" class="mobile-menu-link">Our collection</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#customer-order" class="mobile-menu-link">Customer-order</a>
      </li>
      <li class="mobile-menu-item">
        <a href="#testimonials" class="mobile-menu-link">Testimonials</a>
      </li>
    </ul>
  </div>
</div>
