<section class="collection section">
  <div class="container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-menu">
      <li class="collection-item">
        <picture>
          <source
            srcset="
              /img/collection/desk-collection-1.jpg    1x,
              /img/collection/desk-collection-1@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/collection/tab-collection-1.jpg  1x,
              /img/collection/tab-collection-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/collection/mob-collection-1.jpg    1x,
              /img/collection/mob-collection-1@2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            class="collection-model"
            src="/img/collection/desk-collection-1.jpg"
            alt="women's black long-sleeved blouse with colored embroidery"
          />
        </picture>
        <h3 class="colection-model-text">august poltava women's blouse</h3>
        <p class="colection-price">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture>
          <source
            srcset="
              /img/collection/desk-collection-2.jpg    1x,
              /img/collection/desk-collection-2@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/collection/tab-collection-2.jpg  1x,
              /img/collection/tab-collection-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/collection/mob-collection-2.jpg    1x,
              /img/collection/mob-collection-2@2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            class="collection-model"
            src="/img/collection/desk-collection-2.jpg"
            alt="Women's beige long-sleeved blouse with embroidery"
          />
        </picture>
        <h3 class="colection-model-text">Women's blouse Gorgany</h3>
        <p class="colection-price">3350 UAH</p>
      </li>
      <li class="collection-item">
        <picture>
          <source
            srcset="
              /img/collection/desk-collection-3.jpg    1x,
              /img/collection/desk-collection-3@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/collection/tab-collection-3.jpg  1x,
              /img/collection/tab-collection-3@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/collection/mob-collection-3.jpg    1x,
              /img/collection/mob-collection-3@2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            class="collection-model"
            src="/img/collection/desk-collection-3.jpg"
            alt="Women's white long-sleeved blouse with embroidery"
          />
        </picture>
        <h3 class="colection-model-text">Women's blouse Crimea</h3>
        <p class="colection-price">4000 UAH</p>
      </li>
      <li class="collection-item">
        <picture>
          <source
            srcset="
              /img/collection/desk-collection-4.jpg    1x,
              /img/collection/desk-collection-4@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/collection/tab-collection-4.jpg  1x,
              /img/collection/tab-collection-4@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/collection/mob-collection-4.jpg    1x,
              /img/collection/mob-collection-4@2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            class="collection-model"
            src="/img/collection/desk-collection-4.jpg"
            alt="men's beige long-sleeved blouse with embroidery"
          />
        </picture>
        <h3 class="colection-model-text">Men's shirt Verkhovina</h3>
        <p class="colection-price">3100 UAH</p>
      </li>
      <li class="collection-item">
        <picture>
          <source
            srcset="
              /img/collection/desk-collection-5.jpg    1x,
              /img/collection/desk-collection-5@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/collection/tab-collection-5.jpg  1x,
              /img/collection/tab-collection-5@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/collection/mob-collection-5.jpg    1x,
              /img/collection/mob-collection-5@2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            class="collection-model"
            src="/img/collection/desk-collection-5.jpg"
            alt="men's black long-sleeved blouse with embroidery"
          />
        </picture>
        <h3 class="colection-model-text">Mountain men's shirt</h3>
        <p class="colection-price">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture>
          <source
            srcset="
              /img/collection/desk-collection-6.jpg    1x,
              /img/collection/desk-collection-6@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/collection/tab-collection-6.jpg  1x,
              /img/collection/tab-collection-6@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/collection/mob-collection-6.jpg    1x,
              /img/collection/mob-collection-6@2x.jpg 2x
            "
            media="(min-width: 375px)"
          />
          <img
            class="collection-model"
            src="/img/collection/desk-collection-6.jpg"
            alt="men's white long-sleeved blouse with embroidery"
          />
        </picture>
        <h3 class="colection-model-text">Men's shirt Yasen</h3>
        <p class="colection-price">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
