<section id="customer-order">
    <div class="section-order">
        <div class="order-img"></div>
        <div class="order-desktop-container">
            <div class="order-main-text">
                <span class="order-main-text-span">Your order</span> is our priority: Personalized approach and quality of service
                <form action="" class="order-form">
                    <input class="order-form-input" type="text" name="username" id="" placeholder="Enter your full name">
                    <input class="order-form-input" type="email" name="email" id="" placeholder="Enter your email">
                    <!-- <label> -->
                        <textarea class="order-form-input" name="comments" rows="5" placeholder="Comments"></textarea>
                    <!-- </label> -->
                    <button class="order-btn">
                        <span class="order-btn-text">Send</span>
                        <svg class="order-svg" width="24" height="16">
                            <use href="..img/icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </form>
            </div>
        <div class="main-order-img-tab"><img src="..img/order/tab-order@2x.jpg" alt=""></div>
        <div class="main-order-img-desk"><img src="..img/order/desk-order@2x.jpg" alt=""></div>
    </div>
    </div>
</section>
