/* ========================================================================================================================================================
FOOTER STYLES
======================================================================================================================================================== */

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.footer-nav-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #fcf9f9;
}
.collection-footer {
  margin-left: 53px;
}
.footer-company-slogan {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 80;
}
.footer-slogan-span {
  color: #ecd979;
}
.footer-icon {
  width: 500px;
  height: 290px;
  background-image: url(/img/ornaments/yellow-ornament.png);
  background-size: 452px 401px;
  background-repeat: no-repeat;
  background-position: -31px 80px;
}
@media screen and (min-width: 768px) {
  .footer-nav-list {
    width: 478px;
    height: 18px;
    gap: 25px;
    margin-bottom: 80px;
  }
  .footer-company-slogan {
    width: 521px;
    height: 192px;
    font-size: 54px;
    line-height: 1.19;
    margin-bottom: 40px;
  }
  .footer-container {
    background-image: url(/img/ornaments/yellow-ornament.png);
  }
  .collection-footer {
    margin-left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer-nav-list {
    margin-bottom: 117px;
  }
  .footer-company-slogan {
    width: 754px;
    height: 148px;
    font-size: 64px;
    line-height: 1.16;
  }
  .collection-footer {
    margin-left: 0;
  }
  .footer-nav-list-link:hover,
  .footer-nav-list-link:focus {
    color: #ecd979;
    transition: color 250ms cubic-bezier(0.17, 1.01, 0.99, 0.79);
  }
}
