.backdrop-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
}

.mobile-menu-modal {
    position: absolute;
    width: 274px;
    height: 100%;
    background: #ecd979;
    right: 0;
    overflow: visible;
    background-image: url(../img/ornaments/dark-ornament.png);
    background-size: 340px 302px;
    background-repeat: no-repeat;
    background-position-x: -27px;
    background-position-y: 510px;
}

.mobile-menu-btn-close {
    border: transparent;
    background-color: transparent;
    position: absolute;
    top: 21px;
    right: 21px;
    padding: 0px;
    line-height: 0;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn-close:hover,
.mobile-menu-btn-close:focus {
    border: solid 1px #1c2225;
    border-radius: 50%;
}

.mobile-menu-icon-close {
    stroke-width: 2px;
    stroke: #1c2225;
    width: 36px;
    height: 36px;
}

@media (min-resolution: 192dpi) {
    .mobile-menu-modal {
        background-image: url(../img/ornaments/dark-ornament@2x.png);
    }
}

.mobile-menu-phone-link {
    position: absolute;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    text-transform: uppercase;
    color: #1c2225;
    padding: 12px 20px;
    top: 20px;
    left: 20px;
    border: 1px solid rgba(28, 34, 37, 0.1);
    border-radius: 15px;
    width: 158px;
    height: 38px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-phone-link:hover,
.mobile-menu-phone-link:focus {
    border: solid 1px #1c2225;
    font-size: 13px;
}

.mobile-menu-list {
    padding-right: 32px;
    padding-top: 244px;
}

.mobile-menu-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    color: #1c2225;
    border-color: #1c2225;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
    border: solid 1px #1c2225;
    border-radius: 15px;
    font-size: 15px;
}

.mobile-menu-item {
    line-height: 0;
    text-align: right;
    border-color: #1c2225;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .mobile-menu-modal {
        width: 380px;
        height: 100%;
        background-size: 545px 484px;
        background-position: -74px 550px;
    }

    .mobile-menu-btn-close {
        padding: 0px;
        right: 32px;
        margin: 0;
    }

    .mobile-menu-icon-close {
        stroke-width: 3px;
        width: 44px;
        height: 44px;
    }

    .mobile-menu-list {
        margin-right: 32px;
        margin-top: 291px;
        margin-left: 224px;
        padding: 0;
        width: 135px;
    }

    .mobile-menu-link:focus,
    .mobile-menu-link:hover {
        font-size: 15px;
    }


    .mobile-menu-item {
        padding: 0;
        width: 135px;
    }

    .mobile-menu-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .mobile-menu-phone-link {
        font-size: 14px;
        width: 193px;
        height: 48px;
        margin: 0;
        left: 32px;
        padding: 14px 28px;
    }

    .mobile-menu-phone-link:hover,
    .mobile-menu-phone-link:focus {
        font-size: 14.5px;
    }

    .mobile-menu-ornament-img {
        width: 545px;
        height: 484px;
        top: 65%;
    }
}

@media screen and (min-width: 1280px) {
    .backdrop-menu {
        display: none;
    }
}