.collection {
    background-image: url(/img/ornaments/yellow-ornament.png);
    background-size: 199px 177px;
    background-repeat: no-repeat;
    background-position: -95px 283px;
}
.collection-title {
        font-weight: 500;
        font-size: 32px;
        line-height: 1.37;
        letter-spacing: -0.03em;
        color: #fcf9f9;
        text-align: center;
        margin-bottom: 40px;
}


@media screen and (max-width: 768px) {
    .collection-item:not(:last-child){
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 768px) {
.collection-title {
    font-size: 44px;
    line-height: 1.45;
}
.collection-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.collection-item {
    flex-basis: calc((100%-20px)/2);
}
}

@media screen and (min-width: 1280px) {
.collection-item {
        flex-basis: calc((100%-40px)/3);
        row-gap: 40px;
    }
}

